extends layout

block content
  h1 Add a message
  form(action="/new", method="post")
    label(for='author').name Name: #[input(type="text", name="author")]
    section
      label(for='message').message-label Message:
      textarea(name='message', cols="30", rows="5")
    section
      a(href='/').back Back
      button(type="submit") Post