extends layout

block content
  h1 Welcome to #[span.heading The Board] #[a(href='/new', title='Add new message').post  &plus;]
  main
    each post in posts
      article 
        div.message= post.message
        hr
        div.info
          div= post.author
          div= '[ ' + post.added + ' ]'